<app-todo></app-todo>

<body style="text-align: center"  class="todoContainer">
  <h1>Weekend To-Do List</h1>
  
    <input type="text" [(ngModel)] ="newTask"/>
    <button (click)="addTask()"class=addButton>Add Task</button>

    <p style="color:orange">Incomplete/</p>
    <p style="color:limegreen" class=completed>Complete</p>

    <div *ngFor="let t of tasks, index as i"style="border: 1px solid black; padding: 5px">
      <h2 [ngStyle]="{'color':t.completed==true ? 'limegreen' :'orange'}" >{{ t.task }}</h2>
      <button class="completeButton" *ngIf="t.completed == false" (click)="CompleteTask(i)">Complete</button>
      <p *ngIf="!t.completed" style="color: orange">Incomplete</p>
      <p *ngIf="t.completed " style="color:limegreen" class=completed>Complete</p>
      <button (click)="removeTask(i)">x</button>
    </div>

  </body>